:root 
{
    --color-primery-dark: #31261A;
    --color-primery-light: #FAF4EA;
    --color-brand-light: #819B57;
    --color-brand-dark: #465929;
    

}


/* base*/
.body {
    color: var(--color-primery-dark);
}

ul {
    list-style: none;
}

/*buton*/
.button {
    color: var(--color-primery-light);
    background-color: var(--color-brand-light);
    border: 2px solid var(--color-brand-light);
    border-radius: 8px;
    cursor: pointer;
}

.button:hover
{
    color: var(--color-brand-light);
    background-color: transparent;
}


/*link*/
.link {
    color:var(--color-primery-light);
}

.link:hover
{
    color: var(--color-brand-light);
}
/*hero-section*/
.hero-title {
    color: var(--color-primery-light);
}

.hero-title .accent {
    color: var(--color-brand-light);
}

/*adventeges-section*/
.adventeges-list 
{
    color: var(--color-primery-light);
    background-color: var(--color-brand-light);
}

.section-title .accent
{
    color: var(--color-brand-dark);
    
}